<ion-view title="New Workout">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header builder">

	<div class="list card exercise-card" ng-repeat="setGroup in workout.setGroups">
		<div class="item">
			<div class="exercise-header"><h2>{{setGroup.exercise.name}}</h2></div>
			<div class="set-group" ng-repeat="workset in setGroup.worksets" ng-click="clickSet(workset)">
				<span class="set-circle" ng-class="{accomplished: workset.accomplished_reps > 0}">{{workset.accomplished_reps > 0 && workset.accomplished_reps || workset.prescribed_reps}}</span>
				<p class="set-weight">{{workset.weight}}</p>
			</div>
		</div>
	</div>

	<button class="button button-block button-assertive finish-workout" ng-click="finish()">
		Finish Workout
	</button>
  </ion-content>
</ion-view>
